* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

main {
    display: flex;
    padding: 30px 10%;
    gap: 30px;
    margin-top: 0%; 
    
}

.content-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content-card h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
	position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.cimdoboz {
    flex: 2;
    width: 350px;
    height: 400px;
    text-align: center;
    margin-top: 5%;
}

.kepek {
    height: 350px;
}

.home {
    width: 60px;
    height: 60px;
    float: left;
}